.item {
  padding: 2rpx 0;
}
.bgItem {
  background-color: #f6f7fa;
  padding: 0rpx 15rpx 10rpx;
  border-radius: 6rpx;
}
.icon {
  color: #cdcdcd;
  margin-right: 10rpx;
  flex-shrink: 0;
}
.label {
  margin-right: 10rpx;
  flex-shrink: 0;
}
.content {
  flex: 1;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
