.shopCarWarpper {
  position: absolute;
  width: 100%;
  background: white;
  bottom: 0;
  z-index: 10;
}
.shopCar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20rpx;
  position: relative;
}
.tabBarSafe {
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
}
.carboxWapper {
  bottom: -120rpx;
  width: 100%;
  position: absolute;
  // transform: translateY(50rpx);
  display: none;
  animation-delay: 0ms;
  opacity: 0;
}
.showCarWarpper {
  display: block;
  animation: move 0.2s linear forwards;
}
.carboxContent {
  background: white;
  width: 100%;
  padding: 12rpx;
  box-sizing: border-box;
}
.showCar {
  display: block;
}
.hidCar {
  display: none;
}

@keyframes move {
  0% {
    opacity: 0;
    bottom: -120rpx;
    // transform: translateY(50rpx);
  }
  100% {
    opacity: 1;
    bottom: 100rpx;
    display: block;
    // transform: translateY(0rpx);
  }
}
