// 在这个文件不要格式化，会导致 PX 转换成 px
.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96px;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 1000;
  box-shadow: 0px -2px 10px 0px rgba(217, 224, 234, 0.4);
  overflow: hidden;
  transition: height 0.3s;
  &.hide-tab-bar {
    height: 0px;
  }
}

.tab-bar-item {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.active {
    .cover-image {
      animation: tabbar 0.3s ease-in;
    }
  }
}

.bubble {
  position: absolute;
  transform: translate(10rpx, -40rpx);

  view {
    position: absolute;
    color: #fff;
    font-size: 20rpx;
    padding: 1rpx 10rpx;
    line-height: 26rpx;
    background: #fa5151;
    border-radius: 100px;
  }
}

.tab-bar-item .cover-image {
  width: 46rpx;
  height: 46rpx;
}

.tab-bar-item .cover-view {
  font-size: 20rpx;
}

@keyframes tabbar {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
